In [ ]:
import numpy as np
import pandas as pd

## Loading the dataset

In [ ]:
# Loading the datasets
orders_data = pd.read_csv(r"C:\Users\Nikhi\OneDrive\Desktop\E-commerce\Data\raw\olist_orders_dataset.csv")
customers_data = pd.read_csv(r"C:\Users\Nikhi\OneDrive\Desktop\E-commerce\Data\raw\olist_customers_dataset.csv")
geolocation_data = pd.read_csv(r"C:\Users\Nikhi\OneDrive\Desktop\E-commerce\Data\raw\olist_geolocation_dataset.csv")
orders_items_data = pd.read_csv(r"C:\Users\Nikhi\OneDrive\Desktop\E-commerce\Data\raw\olist_order_items_dataset.csv")
orders_payments_data = pd.read_csv(r"C:\Users\Nikhi\OneDrive\Desktop\E-commerce\Data\raw\olist_order_payments_dataset.csv")
orders_reviews_data = pd.read_csv(r"C:\Users\Nikhi\OneDrive\Desktop\E-commerce\Data\raw\olist_order_reviews_dataset.csv")
products_data = pd.read_csv(r"C:\Users\Nikhi\OneDrive\Desktop\E-commerce\Data\raw\olist_products_dataset.csv")
sellers_data = pd.read_csv(r"C:\Users\Nikhi\OneDrive\Desktop\E-commerce\Data\raw\olist_sellers_dataset.csv")
category_translation_data = pd.read_csv(r"C:\Users\Nikhi\OneDrive\Desktop\E-commerce\Data\raw\product_category_name_translation.csv")

In [ ]:
# Print the shape of each DataFrame
print("Orders:",orders_data.shape)
print("Customers:",customers_data.shape)
print("Geolocation:",geolocation_data.shape)
print("Order Items:",orders_items_data.shape)
print("Order Payments:",orders_payments_data.shape)
print("Order Reviews:",orders_reviews_data.shape)
print("Products:",products_data.shape)
print("Sellers:",sellers_data.shape)
print("Category Translation:",category_translation_data.shape)

Orders: (99441, 8)
Customers: (99441, 5)
Geolocation: (1000163, 5)
Order Items: (112650, 7)
Order Payments: (103886, 5)
Order Reviews: (99224, 7)
Products: (32951, 9)
Sellers: (3095, 4)
Category Translation: (71, 2)

## olist order dataset

In [ ]:
# Display info and head of orders_data
print(orders_data.info())
orders_data.head(2)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB
None

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00

In [ ]:
# converting date columns to datetime format
date_col = ['order_purchase_timestamp','order_approved_at','order_delivered_carrier_date',
            'order_delivered_customer_date','order_estimated_delivery_date']

for column in date_col:
  orders_data[column] = pd.to_datetime(orders_data[column])

In [ ]:
orders_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  datetime64[ns]
 4   order_approved_at              99281 non-null  datetime64[ns]
 5   order_delivered_carrier_date   97658 non-null  datetime64[ns]
 6   order_delivered_customer_date  96476 non-null  datetime64[ns]
 7   order_estimated_delivery_date  99441 non-null  datetime64[ns]
dtypes: datetime64[ns](5), object(3)
memory usage: 6.1+ MB

In [ ]:
# Analyze the distribution of order_status
orders_data['order_status'].value_counts()

order_status
delivered      96478
shipped         1107
canceled         625
unavailable      609
invoiced         314
processing       301
created            5
approved           2
Name: count, dtype: int64

In [ ]:
# filtering only delivered orders because 
# other orders are not completed yet then only delivered orders for revenue analysis
orders_data = orders_data[orders_data['order_status']=='delivered']
orders_data.shape

(96478, 8)

In [ ]:
orders_data.isnull().sum()

order_id                          0
customer_id                       0
order_status                      0
order_purchase_timestamp          0
order_approved_at                14
order_delivered_carrier_date      2
order_delivered_customer_date     8
order_estimated_delivery_date     0
dtype: int64

In orders data order_approved_at , order_delivered_carrier_date, order_delivered_customer_date column are having Null values which means order is not approved or never shipped or orer is not delivered yet/ cancelled 
therefore, Drop the null values rows

In [ ]:
# Drop rows with missing 'order_delivered_customer_date' order_delivered_carrier_date', 'order_approved_at'
orders_delivered = orders_data.dropna(subset=['order_delivered_customer_date', 
                                              'order_delivered_carrier_date', 'order_approved_at'])

In [ ]:
orders_delivered.isnull().sum()

order_id                         0
customer_id                      0
order_status                     0
order_purchase_timestamp         0
order_approved_at                0
order_delivered_carrier_date     0
order_delivered_customer_date    0
order_estimated_delivery_date    0
dtype: int64

## olist customers dataset

In [ ]:
customers_data.head(2)

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP

In [ ]:
print(customers_data.isnull().sum())
customers_data.duplicated().sum()

customer_id                 0
customer_unique_id          0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64

np.int64(0)

In [ ]:
# merging orders and customers data on 'customer_id'
order_customers_data = orders_delivered.merge(customers_data, on='customer_id', how='left')
order_customers_data.shape

(96455, 12)

In [ ]:
order_customers_data.head(2)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13,af07308b275d755c9edb36a90c618231,47813,barreiras,BA

## olist orders items dataset

In [ ]:
orders_items_data.head(2)

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.9,19.93

In [ ]:
orders_items_data.isnull().sum()

order_id               0
order_item_id          0
product_id             0
seller_id              0
shipping_limit_date    0
price                  0
freight_value          0
dtype: int64

In [ ]:
orders_items_data.duplicated().sum()

np.int64(0)

In [ ]:
final_data = order_customers_data.merge(orders_items_data, on='order_id', how='left')

In [ ]:
final_data.head(2)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,1,87285b34884572647811a353c7ac498a,3504c0cb71d7fa48d967e0e4c94d59d9,2017-10-06 11:07:15,29.99,8.72
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13,af07308b275d755c9edb36a90c618231,47813,barreiras,BA,1,595fac2a385ac33a80bd5114aec74eb8,289cdb325fb7e7f891c38608bf9e0962,2018-07-30 03:24:27,118.70,22.76

## olist order payments data

In [ ]:
orders_payments_data.head(2)

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39

In [ ]:
print(orders_payments_data.duplicated().sum())
orders_payments_data.isnull().sum()

0

order_id                0
payment_sequential      0
payment_type            0
payment_installments    0
payment_value           0
dtype: int64

In [ ]:
# mearge the final_data with orders_payments_data on 'order_id'
final_data = final_data.merge(orders_payments_data, on='order_id', how='left')
final_data.columns

Index(['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp',
       'order_approved_at', 'order_delivered_carrier_date',
       'order_delivered_customer_date', 'order_estimated_delivery_date',
       'customer_unique_id', 'customer_zip_code_prefix', 'customer_city',
       'customer_state', 'order_item_id', 'product_id', 'seller_id',
       'shipping_limit_date', 'price', 'freight_value', 'payment_sequential',
       'payment_type', 'payment_installments', 'payment_value'],
      dtype='object')

In [ ]:
final_data.isnull().sum()

order_id                         0
customer_id                      0
order_status                     0
order_purchase_timestamp         0
order_approved_at                0
order_delivered_carrier_date     0
order_delivered_customer_date    0
order_estimated_delivery_date    0
customer_unique_id               0
customer_zip_code_prefix         0
customer_city                    0
customer_state                   0
order_item_id                    0
product_id                       0
seller_id                        0
shipping_limit_date              0
price                            0
freight_value                    0
payment_sequential               3
payment_type                     3
payment_installments             3
payment_value                    3
dtype: int64

In [ ]:
# drop the null values in payment_type, payment_installments, payment_value
final_data = final_data.dropna(subset=['payment_type', 'payment_installments', 'payment_value'])
final_data.isnull().sum()

order_id                         0
customer_id                      0
order_status                     0
order_purchase_timestamp         0
order_approved_at                0
order_delivered_carrier_date     0
order_delivered_customer_date    0
order_estimated_delivery_date    0
customer_unique_id               0
customer_zip_code_prefix         0
customer_city                    0
customer_state                   0
order_item_id                    0
product_id                       0
seller_id                        0
shipping_limit_date              0
price                            0
freight_value                    0
payment_sequential               0
payment_type                     0
payment_installments             0
payment_value                    0
dtype: int64

In [ ]:
final_data.duplicated().sum()

np.int64(0)

## olist product dataset

In [ ]:
products_data.head(2)

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0

In [ ]:
category_translation_data.head(2)

    product_category_name product_category_name_english
0            beleza_saude                 health_beauty
1  informatica_acessorios         computers_accessories

In [ ]:
# merging products_data with category_translation_data on 'product_category_name'
products_data = products_data.merge(category_translation_data, on='product_category_name', how='left')

In [ ]:
products_data.head(2)

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,product_category_name_english
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0,perfumery
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0,art

In [ ]:
products_data = products_data.drop('product_category_name', axis=1)

In [ ]:
products_data.head(2)

,product_id,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,product_category_name_english
0,1e9e8ef04dbcff4541ed26657ea517e5,40.0,287.0,1.0,225.0,16.0,10.0,14.0,perfumery
1,3aa071139cb16b67ca9e5dea641aaa2f,44.0,276.0,1.0,1000.0,30.0,18.0,20.0,art

In [ ]:
# merge the final data with products_data on 'product_id'
final_data = final_data.merge(products_data, on='product_id', how='left')

In [ ]:
final_data.head(2)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer_unique_id,customer_zip_code_prefix,...,payment_installments,payment_value,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,product_category_name_english
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,7c396fd4830fd04220f754e42b4e5bff,3149,...,1.0,18.12,40.0,268.0,4.0,500.0,19.0,8.0,13.0,housewares
1,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,7c396fd4830fd04220f754e42b4e5bff,3149,...,1.0,2.00,40.0,268.0,4.0,500.0,19.0,8.0,13.0,housewares

In [ ]:
final_data.isnull().sum().sort_values(ascending=False)

product_category_name_english    1650
product_description_lenght       1627
product_photos_qty               1627
product_name_lenght              1627
product_height_cm                  20
product_width_cm                   20
product_weight_g                   20
product_length_cm                  20
order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                   0
order_delivered_carrier_date        0
product_id                          0
order_item_id                       0
customer_state                      0
customer_city                       0
customer_zip_code_prefix            0
customer_unique_id                  0
order_estimated_delivery_date       0
order_delivered_customer_date       0
payment_value                       0
payment_installments                0
payment_type                        0
payment_sequential                  0
freight_value                       0
price                               0
shipping_limit_date                 0
seller_id                           0
dtype: int64

In [ ]:
# filling null values in 'product_category_name_english' with 'unknown'
final_data['product_category_name_english'].fillna('unknown', inplace=True)

In [ ]:
final_data.isnull().sum().sort_values(ascending=False).head(10)

product_photos_qty               1627
product_description_lenght       1627
product_name_lenght              1627
product_weight_g                   20
product_width_cm                   20
product_height_cm                  20
product_length_cm                  20
order_delivered_customer_date       0
order_id                            0
customer_id                         0
dtype: int64

In [ ]:
final_data.columns

Index(['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp',
       'order_approved_at', 'order_delivered_carrier_date',
       'order_delivered_customer_date', 'order_estimated_delivery_date',
       'customer_unique_id', 'customer_zip_code_prefix', 'customer_city',
       'customer_state', 'order_item_id', 'product_id', 'seller_id',
       'shipping_limit_date', 'price', 'freight_value', 'payment_sequential',
       'payment_type', 'payment_installments', 'payment_value',
       'product_name_lenght', 'product_description_lenght',
       'product_photos_qty', 'product_weight_g', 'product_length_cm',
       'product_height_cm', 'product_width_cm',
       'product_category_name_english'],
      dtype='object')

In [ ]:
final_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115011 entries, 0 to 115010
Data columns (total 30 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       115011 non-null  object
 1   customer_id                    115011 non-null  object
 2   order_status                   115011 non-null  object
 3   order_purchase_timestamp       115011 non-null  datetime64[ns]
 4   order_approved_at              115011 non-null  datetime64[ns]
 5   order_delivered_carrier_date   115011 non-null  datetime64[ns]
 6   order_delivered_customer_date  115011 non-null  datetime64[ns]
 7   order_estimated_delivery_date  115011 non-null  datetime64[ns]
 8   customer_unique_id             115011 non-null  object
 9   customer_zip_code_prefix       115011 non-null  int64
 10  customer_city                  115011 non-null  object
 11  customer_state                 115011 non-null  object
 12  order_item_id                  115011 non-null  int64
 13  product_id                     115011 non-null  object
 14  seller_id                      115011 non-null  object
 15  shipping_limit_date            115011 non-null  object
 16  price                          115011 non-null  float64
 17  freight_value                  115011 non-null  float64
 18  payment_sequential             115011 non-null  float64
 19  payment_type                   115011 non-null  object
 20  payment_installments           115011 non-null  float64
 21  payment_value                  115011 non-null  float64
 22  product_name_lenght            113384 non-null  float64
 23  product_description_lenght     113384 non-null  float64
 24  product_photos_qty             113384 non-null  float64
 25  product_weight_g               114991 non-null  float64
 26  product_length_cm              114991 non-null  float64
 27  product_height_cm              114991 non-null  float64
 28  product_width_cm               114991 non-null  float64
 29  product_category_name_english  115011 non-null  object
dtypes: datetime64[ns](5), float64(12), int64(2), object(11)
memory usage: 26.3+ MB

In [ ]:
final_data['shipping_limit_date'] = pd.to_datetime(final_data['shipping_limit_date'])

In [ ]:
final_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115011 entries, 0 to 115010
Data columns (total 30 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       115011 non-null  object
 1   customer_id                    115011 non-null  object
 2   order_status                   115011 non-null  object
 3   order_purchase_timestamp       115011 non-null  datetime64[ns]
 4   order_approved_at              115011 non-null  datetime64[ns]
 5   order_delivered_carrier_date   115011 non-null  datetime64[ns]
 6   order_delivered_customer_date  115011 non-null  datetime64[ns]
 7   order_estimated_delivery_date  115011 non-null  datetime64[ns]
 8   customer_unique_id             115011 non-null  object
 9   customer_zip_code_prefix       115011 non-null  int64
 10  customer_city                  115011 non-null  object
 11  customer_state                 115011 non-null  object
 12  order_item_id                  115011 non-null  int64
 13  product_id                     115011 non-null  object
 14  seller_id                      115011 non-null  object
 15  shipping_limit_date            115011 non-null  datetime64[ns]
 16  price                          115011 non-null  float64
 17  freight_value                  115011 non-null  float64
 18  payment_sequential             115011 non-null  float64
 19  payment_type                   115011 non-null  object
 20  payment_installments           115011 non-null  float64
 21  payment_value                  115011 non-null  float64
 22  product_name_lenght            113384 non-null  float64
 23  product_description_lenght     113384 non-null  float64
 24  product_photos_qty             113384 non-null  float64
 25  product_weight_g               114991 non-null  float64
 26  product_length_cm              114991 non-null  float64
 27  product_height_cm              114991 non-null  float64
 28  product_width_cm               114991 non-null  float64
 29  product_category_name_english  115011 non-null  object
dtypes: datetime64[ns](6), float64(12), int64(2), object(10)
memory usage: 26.3+ MB

In [ ]:
final_data.duplicated().sum()

np.int64(0)

## olist order review dataset

In [ ]:
orders_reviews_data.head(2)

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13

In [ ]:
orders_reviews_data.isnull().sum()

review_id                      0
order_id                       0
review_score                   0
review_comment_title       87656
review_comment_message     58247
review_creation_date           0
review_answer_timestamp        0
dtype: int64

In [ ]:
 # filling null values in 'review_comment_title' and 'review_comment_message' by 'No Title' and 'No Comment' respectively
orders_reviews_data['review_comment_title'] = orders_reviews_data['review_comment_title'].fillna('No Title')
orders_reviews_data['review_comment_message'] = orders_reviews_data['review_comment_message'].fillna('No Comment')

In [ ]:
orders_reviews_data.isnull().sum()

review_id                  0
order_id                   0
review_score               0
review_comment_title       0
review_comment_message     0
review_creation_date       0
review_answer_timestamp    0
dtype: int64

In [ ]:
orders_reviews_data.duplicated().sum()

np.int64(0)

## olist sellers dataset

In [ ]:
sellers_data.head(2)

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP

In [ ]:
sellers_data.isnull().sum()

seller_id                 0
seller_zip_code_prefix    0
seller_city               0
seller_state              0
dtype: int64

In [ ]:
sellers_data.duplicated().sum()

np.int64(0)

## olist geolocation dataset

In [ ]:
print(geolocation_data.shape)
geolocation_data.head(2)

(1000163, 5)

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP

In [ ]:
geolocation_data.isnull().sum()

geolocation_zip_code_prefix    0
geolocation_lat                0
geolocation_lng                0
geolocation_city               0
geolocation_state              0
dtype: int64

In [ ]:
geolocation_data["geolocation_lat"].duplicated().sum()

np.int64(282803)

In [ ]:
final_data.shape

(115011, 30)

In [ ]:
# removing rows with negative price and freight_value if exist
final_data = final_data[(final_data['price']>=0) & (final_data['freight_value']>=0)]

In [ ]:
print(final_data.shape)
final_data.head(2)

(115011, 30)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer_unique_id,customer_zip_code_prefix,...,payment_installments,payment_value,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,product_category_name_english
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,7c396fd4830fd04220f754e42b4e5bff,3149,...,1.0,18.12,40.0,268.0,4.0,500.0,19.0,8.0,13.0,housewares
1,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,7c396fd4830fd04220f754e42b4e5bff,3149,...,1.0,2.00,40.0,268.0,4.0,500.0,19.0,8.0,13.0,housewares

In [ ]:
# removing rows with negative payment_value if exist
final_data = final_data[(final_data['payment_value']>=0)]

In [ ]:
final_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115011 entries, 0 to 115010
Data columns (total 30 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       115011 non-null  object
 1   customer_id                    115011 non-null  object
 2   order_status                   115011 non-null  object
 3   order_purchase_timestamp       115011 non-null  datetime64[ns]
 4   order_approved_at              115011 non-null  datetime64[ns]
 5   order_delivered_carrier_date   115011 non-null  datetime64[ns]
 6   order_delivered_customer_date  115011 non-null  datetime64[ns]
 7   order_estimated_delivery_date  115011 non-null  datetime64[ns]
 8   customer_unique_id             115011 non-null  object
 9   customer_zip_code_prefix       115011 non-null  int64
 10  customer_city                  115011 non-null  object
 11  customer_state                 115011 non-null  object
 12  order_item_id                  115011 non-null  int64
 13  product_id                     115011 non-null  object
 14  seller_id                      115011 non-null  object
 15  shipping_limit_date            115011 non-null  datetime64[ns]
 16  price                          115011 non-null  float64
 17  freight_value                  115011 non-null  float64
 18  payment_sequential             115011 non-null  float64
 19  payment_type                   115011 non-null  object
 20  payment_installments           115011 non-null  float64
 21  payment_value                  115011 non-null  float64
 22  product_name_lenght            113384 non-null  float64
 23  product_description_lenght     113384 non-null  float64
 24  product_photos_qty             113384 non-null  float64
 25  product_weight_g               114991 non-null  float64
 26  product_length_cm              114991 non-null  float64
 27  product_height_cm              114991 non-null  float64
 28  product_width_cm               114991 non-null  float64
 29  product_category_name_english  115011 non-null  object
dtypes: datetime64[ns](6), float64(12), int64(2), object(10)
memory usage: 26.3+ MB

In [ ]:
final_data.describe().T

,count,mean,min,25%,50%,75%,max,std
order_purchase_timestamp,115011,2017-12-31 20:43:36.864126208,2016-10-03 09:44:50,2017-09-13 08:37:13.500000,2018-01-19 13:08:32,2018-05-04 16:53:16,2018-08-29 15:00:37,NaN
order_approved_at,115011,2018-01-01 07:09:29.581031168,2016-10-04 09:43:32,2017-09-13 17:13:04.500000,2018-01-19 20:16:41,2018-05-05 02:54:30,2018-08-29 15:10:26,NaN
order_delivered_carrier_date,115011,2018-01-04 03:30:03.998365696,2016-10-08 10:34:01,2017-09-15 18:10:30.500000,2018-01-23 20:53:10,2018-05-08 11:48:00,2018-09-11 19:48:28,NaN
order_delivered_customer_date,115011,2018-01-13 08:19:02.779108608,2016-10-11 13:46:32,2017-09-25 15:32:44,2018-02-01 19:34:55,2018-05-15 16:54:55,2018-10-17 13:22:46,NaN
order_estimated_delivery_date,115011,2018-01-24 16:34:53.684952320,2016-10-27 00:00:00,2017-10-04 00:00:00,2018-02-15 00:00:00,2018-05-28 00:00:00,2018-10-25 00:00:00,NaN
customer_zip_code_prefix,115011.0,35082.050795,1003.0,11310.0,24320.0,58803.0,99980.0,29851.689633
order_item_id,115011.0,1.196407,1.0,1.0,1.0,1.0,21.0,0.699425
shipping_limit_date,115011,2018-01-07 11:12:34.127587840,2016-10-08 10:34:01,2017-09-20 03:23:33.500000,2018-01-26 02:11:40,2018-05-10 14:15:15.500000,2020-04-09 22:35:08,NaN
price,115011.0,120.081819,0.85,39.9,74.9,133.0,6735.0,183.043451
freight_value,115011.0,19.996013,0.0,13.08,16.28,21.18,409.68,15.744668
payment_sequential,115011.0,1.090704,1.0,1.0,1.0,1.0,26.0,0.68443
payment_installments,115011.0,2.936989,0.0,1.0,2.0,4.0,24.0,2.772532
payment_value,115011.0,171.91839,0.0,60.85,108.19,188.94,13664.08,266.133022
product_name_lenght,113384.0,48.802485,5.0,42.0,52.0,57.0,76.0,10.017682
product_description_lenght,113384.0,785.800748,4.0,346.0,601.0,985.0,3992.0,651.000002
product_photos_qty,113384.0,2.209403,1.0,1.0,1.0,3.0,20.0,1.720284
product_weight_g,114991.0,2107.62991,0.0,300.0,700.0,1800.0,40425.0,3774.401325
product_length_cm,114991.0,30.231009,7.0,18.0,25.0,38.0,105.0,16.128502
product_height_cm,114991.0,16.590698,2.0,8.0,13.0,20.0,105.0,13.427449
product_width_cm,114991.0,23.058796,6.0,15.0,20.0,30.0,118.0,11.731896

In [ ]:
# saving the cleaned final_data to a csv file
final_data.to_csv(r"C:\Users\Nikhi\OneDrive\Desktop\E-commerce\Data\cleaned\sales_data.csv", index=False)
orders_reviews_data.to_csv(r"C:\Users\Nikhi\OneDrive\Desktop\E-commerce\Data\cleaned\orders_reviews_data.csv", index=False)
sellers_data.to_csv(r"C:\Users\Nikhi\OneDrive\Desktop\E-commerce\Data\cleaned\sellers_data.csv", index=False)
geolocation_data.to_csv(r"C:\Users\Nikhi\OneDrive\Desktop\E-commerce\Data\cleaned\geolocation_data.csv", index=False)